*{margin: 0 auto;
  ##padding:0
<style>  
}
body{
    font-size: 28pt;
    bacground-color:gray;
    background-image:url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTLu0gx559Uy4-QqDmg2QBPEyWsi54HiAymaLIbyTl3IStFzCaQ");
    }
h1{
    font-family: "Verdana",san-serif; 
    font-weight: 100;
    color: blue;
    margin:2cm
}
img {
    display: block;
    margin: 3cm;
       
}

p{ 
    text-align: top-left;
    font-size:19pt;
    color: black;  
    font-family: "Verdana",san-serif;
    margin:1cm;
    word-wrap: break-word;
}
        
a{
    width:30%;
    text-decoration: none;
    color:green ;  
    width: 300px;
    height: 100px;
    border: 1px solid blue;
    box-sizing:border-box;
}    

a:hover{
    text-align: center;
    color: white;
    bacground-color: blue;
    
}